/*
*
*
*
* ██████╗ ██╗███████╗ ██████╗██╗   ██╗██╗████████╗
* ██╔══██╗██║██╔════╝██╔════╝██║   ██║██║╚══██╔══╝
* ██████╔╝██║███████╗██║     ██║   ██║██║   ██║
* ██╔══██╗██║╚════██║██║     ██║   ██║██║   ██║
* ██████╔╝██║███████║╚██████╗╚██████╔╝██║   ██║
* ╚═════╝ ╚═╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝   ╚═╝
*                          .-.
*         .'            .;|/:
*    .-..'  .-.        .;   : .-.     .;.::.
*   :   ; .;.-'       .;    :;   :    .;
*   `:::'`.`:::'  .:'.;     :`:::'-'.;'
*                (__.'      `.             ɖǟʀӄ
*                                                 
*
*/

@import url("./colors.css");

@define-color bg @background;
@define-color fg @foreground;
@define-color gray1 @color2;
@define-color gray2 @color8;
@define-color gray3 @color4;
@define-color gray4 @color3;
@define-color gray5 @color5;
@define-color fg_bright @foreground;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}

/* ______   __       ______
* /_____/\ /_/\     /_____/\                                      
* \:::_ \ \\:\ \    \:::_ \ \                                     
*  \:\ \ \ \\:\ \    \:\ \ \ \                                    
*   \:\ \ \ \\:\ \____\:\ \ \ \                                   
*    \:\_\ \ \\:\/___/\\:\/.:| |                                  
*  ___\_____\/_\_____\/ \____/_/  ______    _______   ______      
* /________/\/_____/\ /_______/\ /_____/\ /_______/\ /_____/\     
* \__.::.__\/\:::_ \ \\::: _  \ \\:::_ \ \\::: _  \ \\:::_ \ \    
*   /_\::\ \  \:\ \ \ \\::(_)  \/_\:\ \ \ \\::(_)  \/_\:\ \ \ \   
*   \:.\::\ \  \:\ \ \ \\::  _  \ \\:\ \ \ \\::  _  \ \\:\ \ \ \  
*    \: \  \ \  \:\_\ \ \\::(_)  \ \\:\_\ \ \\::(_)  \ \\:\_\ \ \ 
*     \_____\/   \_____\/ \_______\/ \_____\/ \_______\/ \_____\/ 
*
*/
